---
import Layout from '@layouts/index.astro';
import { IArticle } from '@types';
import { fetchApi, useTranslatedPath } from '@utils';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const articles = await fetchApi<IArticle[]>({
  endpoint: 'articles',
  wrappedByKey: 'data',
});
console.log({ posts, articles });
const translatePath = useTranslatedPath(Astro.currentLocale);
---

<Layout title="Blogs">
  <main
    class="columns-5 container overflow-scroll *:px-4 *:py-3 *:min-h-20 *:break-inside-avoid *:border"
  >
    {
      posts.map(({ data: post, id }) => (
        <a class="inline-block" href={translatePath(`/blog/${id}`)}>
          <h2>{post.title}</h2>
          <p>{post.description}</p>
        </a>
      ))
    }
  </main>
</Layout>
