---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';
import { format } from 'date-fns';

import { Badge } from '@/components/ui/badge';

type Props = CollectionEntry<'blog'>;

const {
  data: { title, pubDate, tags: _tags, author: _author },
} = Astro.props;
const author = (await getEntry(_author)).data;
const { Content } = await render(Astro.props);
const tags = _tags.filter((e) => !e.includes(':'));
---

<div
  class="w-full p-10 bg-card rounded-lg prose dark:bg-card max-w-none"
>
  <h1>{title}</h1>
  <p>{format(pubDate, 'd MMM, yyyy')}<br />By {author.name}</p>
  <Content />
  <div class="flex flex-wrap gap-2 mt-10">
    {tags.map((tag) => <Badge variant="secondary" class="capitalize">{tag}</Badge>)}
  </div>
</div>
