---
import Layout from '../layouts/Layout.astro';
const posts = await Astro.glob('./posts/*.md*');
---

<Layout title="Blog">
  <main class="size-full flex flex-col items-center gap-3">
    <h1>Blog</h1>
    {posts.map((post) => <a href={post.url}>{post.frontmatter.title}</a>)}
  </main>
</Layout>
