---
import clsx from 'clsx';

import {
  Experience,
  FAB,
  Nav,
  OneColumns,
  ThreeColumns,
} from '@components/home';
import Layout from '@layouts/index.astro';
import { getBrandIconName } from '@utils';
import { resume } from '@utils/constants';
---

<Layout title="Hello! I'm Rainforest">
  <main class="contents">
    <Nav />
    <FAB client:load />
    <!-- hero -->
    <section class="flex-center container h-screen xl:flex! hidden!">
      <ThreeColumns {...resume.info} {...resume.hero} />
    </section>
    <section class="flex! xl:hidden! w-full bg-background">
      <OneColumns {...resume.info} {...resume.hero} />
    </section>
    <!-- experience -->
    <section id="experience" class="py-10 sm:h-screen">
      <div class="container flex-col-center size-full">
        <h2 class="text-4xl mb-10">Experience</h2>
        <Experience client:load />
      </div>
    </section>
    <section id="skills" class="py-10 min-h-screen">
      <div class="container">
        <h2 class="text-4xl mb-10">Skills</h2>
        <ul class="grid md:grid-cols-2 xl:grid-cols-3 gap-4 xl:gap-8">
          {
            resume.skills.map((skill) => (
              <li
                class={clsx(
                  'min-w-80 bg-on-background text-background px-5 py-4 rounded min-h-80 shadow flex flex-col gap-5 relative',
                  skill.description.length > 2 && 'md:col-span-2'
                )}
              >
                <h3 class="text-xl">{skill.name}</h3>
                <ul class="list-disc pl-[1em] *:overflow-hidden">
                  {skill.description.map((item) => (
                    <li>
                      <p>{item}</p>
                    </li>
                  ))}
                </ul>
                <iconify-icon
                  icon={getBrandIconName(skill.key)}
                  class="absolute right-5 bottom-4 size-12"
                  height="none"
                />
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
  <style>
    html {
      @apply snap-y snap-mandatory scroll-smooth;
    }
    main > section {
      @apply snap-always snap-start;
    }
    @media (width < 80rem) {
      html,
      body {
        background-color: var(--color-on-background);
      }
      section:not(:first-child) {
        background-color: var(--color-background);
      }
    }
  </style>
</Layout>
