---
import Layout from '../layouts/index.astro';
import { SourceColor, ColorSystem } from '../components';
---

<Layout title="Hello! I'm Rainforest">
  <main class="size-full flex-col flex-center gap-3">Home page</main>
</Layout>
