---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex-center full">
    <a href="/about" class="flex gap-1 text-cyan-500 hover:text-cyan-600">
      <div>Hello, Rainforest!</div>
      <span class="material-symbols-outlined">info</span>
    </a>
    <div
      class="h-1/2 bg-teal-500"
      transition:name="hero"
    >
      <img src="/images/profile.jpeg" alt="profile" class="h-full mix-blend-screen grayscale contrast-150">
    </div>
  </main>
</Layout>
