---
import Layout from '../layouts/layout.astro';
import '@material/web/button/filled-button.js';
---

<Layout title="Welcome to Astro.">
	<main class="size-full flex flex-col items-center justify-center">
		<p class="text-primary text-xl">Primary</p>
		<md-filled-button>
			Click
			<span slot="icon" class="material-symbols-outlined !text-lg/1">
				search
			</span>
		</md-filled-button>
	</main>
</Layout>
