---
import Layout from '../layouts/index.astro';
---

<Layout title="Home">
  <main class="size-full flex flex-col items-center gap-3">
    <!-- hero -->
    <div class="w-full h-screen flex-center flex-col">
      <h1 class="text-primary text-6xl">Home</h1>
      <p>Welcome to my personal website!</p>
    </div>
  </main>
</Layout>
