---
import Layout from '../layouts/Layout.astro';
import { LogisticInput, LogisticsList } from '../components/logistics';
---

<Layout title="Welcome to Astro.">
  <main class="size-full flex flex-col items-center gap-3">
    <h1>Logistics Tracker</h1>
    <LogisticInput client:load />
    <LogisticsList client:load />
  </main>
</Layout>
