---
import Layout from '../layouts/index.astro';
---

<Layout title="Home">
  <main class="size-full flex flex-col items-center gap-3">
    <h1>Home</h1>
    <p>Welcome to my personal website!</p>
  </main>
</Layout>
