---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="text-cyan-500">Hello, World!</div>
		<span class="material-symbols-outlined">search</span>
	</main>
</Layout>
