---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex-center size-full bg-gradient-to-br from-[#1B4242] to-[#9EC8B9]">
    <div class="size-4/5 bg-white/60 backdrop-blur-sm rounded flex items-center p-20 shadow-2xl">
      <div class="flex flex-col gap-1 text-[#092635]">
        <div class="text-9xl">Rainforest Cheng</div>
        <div class="pl-2">
          <p class="text-4xl">Frontend Engineer</p>
          <a  href="/about" class="material-symbols-outlined">info</a>
        </div>
      </div>
      <img 
        src="/images/profile.png" 
        alt="profile" 
        class="grayscale h-[105%] absolute right-[5%] bottom-0" 
        transition:name="hero">
    </div>
  </main>
</Layout>
