---
import { ATSFriendly } from '../components/resume';
import Layout from '../layouts/index.astro';
import { resume } from '../utils/constants';
---

<Layout title="Resume | Rainforest">
  <main
    class="w-screen h-screen overflow-scroll flex-col-center p-10 print:justify-start print:items-start bg-on-background"
  >
    <div
      class="w-[1050px] h-[1485px] my-auto scale-40 sm:scale-50 md:scale-75 lg:scale-100"
    >
      <ATSFriendly {...resume} />
    </div>
  </main>
</Layout>
