---
import { ColorSystem,SourceColor } from '../components';
import Layout from '../layouts/index.astro';
---

<Layout title="Settings">
  <main class="size-full flex-col flex-center gap-3">
    <SourceColor client:load />
    <ColorSystem />
  </main>
</Layout>
