---
import { ColorSystem } from '@components';
import Layout from '@layouts/index.astro';
---

<Layout title="Settings">
  <main class="container flex-col-center gap-3 py-10">
    <div class="flex flex-col lg:flex-row size-full">
      <div class="w-full bg-surface p-8 border" data-scheme="light">
        <ColorSystem client:load />
      </div>
      <div class="w-full bg-surface p-8" data-scheme="dark">
        <ColorSystem client:load />
      </div>
    </div>
  </main>
</Layout>
