---
import Layout from '../layouts/index.astro';
import { SourceColor, ColorSystem } from '../components';
---

<Layout title="Settings">
  <main class="size-full flex-col flex-center gap-3">
    <SourceColor client:only="vue" />
    <ColorSystem client:load />
  </main>
</Layout>
