---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/project-card";
const projects = await getCollection("projects");
console.log(projects);
---

<Layout title="Projects">
  <div class="flex-center size-full">
    <div class="h-1/2 aspect-[3/4] flex-row-center gap-[30vw] snap-x snap-mandatory scroll-smooth border overflow-auto">
      {projects.map((project) => (
        <div class="h-full aspect-[3/4] snap-center snap-normal">
          <ProjectCard {...project.data} />
        </div>
      ))}
    </div>
  </div>
</Layout>