---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { format } from 'date-fns';

import BaseLayout from './index.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, pubDate, author: _author, image } = Astro.props;
const author = (await getEntry(_author.collection, _author.id))?.data;
---

<script>
  import '@material/web/iconbutton/filled-tonal-icon-button';
  import '@material/web/icon/icon';
</script>

<BaseLayout title={title}>
  <md-filled-tonal-icon-button
    onclick="history.back()"
    class="fixed top-10 left-10 text-primary"
  >
    <md-icon>arrow_back</md-icon>
  </md-filled-tonal-icon-button>
  {
    image?.src && (
      <Image
        src={image?.src}
        width={512}
        height={512}
        alt={image?.alt}
        class="w-full max-h-75 object-cover"
      />
    )
  }
  <article class="container prose md:prose-lg lg:prose-xl pb-20">
    <p class="text-center">{format(pubDate, 'd MMM, yyyy')}</p>
    <slot />
  </article>
</BaseLayout>
