---
import '../app.css';

import { ThemeProvider } from '@components';
import { ClientRouter } from 'astro:transitions';
import { dir as _dir } from 'i18next';

import Head from './head.astro';
import type { Props } from './types';

const { viewTransition = { enabled: false }, ...rest } = Astro.props;

const lang = Astro.currentLocale;
const dir = _dir(lang);
---

<!doctype html>
<html lang={lang} dir={dir}>
  <Head {...rest}>
    <ThemeProvider server:defer />
    {viewTransition.enabled && <ClientRouter />}
  </Head>
  <body>
    <slot />
  </body>
</html>
