---
import '../app.css';

import { SourceColor, ThemeProvider } from '@components';
import SiteFooter from '@components/shell/SiteFooter.astro';
import SiteHeader from '@components/shell/SiteHeader.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import { ClientRouter } from 'astro:transitions';
import { dir as _dir } from 'i18next';

import Head from './head.astro';
import type { Props } from './types';

const {
  viewTransition = { enabled: false },
  hideSourceColorPicker = false,
  shell = false,
  forceScheme,
  ...rest
} = Astro.props;

const lang = Astro.currentLocale;
const dir = _dir(lang);
---

<!doctype html>
<html lang={lang} dir={dir} data-scheme={forceScheme}>
  <Head {...rest}>
    <ThemeProvider server:defer />
    {viewTransition.enabled && <ClientRouter />}
  </Head>
  <body>
    {shell && <SiteHeader />}
    <slot />
    {shell && <SiteFooter />}
    {
      !hideSourceColorPicker && (
        <div class="fixed right-10 bottom-10 z-10 print:hidden">
          <SourceColor client:only="vue" />
        </div>
      )
    }
    <SpeedInsights />
  </body>
</html>
