---
import Head, { type Props } from './head.astro';

const props: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {...props} />
   I 'm a layout
  <body>
    <slot />
  </body>
</html>
