---
import { Post } from '@components/blog';
import Layout from '@layouts/index.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog', ({ data }) =>
  data.tags.includes('type:quick-post')
);
---

<Layout title="Quick Posts">
  <main class="container py-10 space-y-8">
    {
      posts
        .sort((a, b) => {
          return (
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime()
          );
        })
        .map((post) => <Post {...post} />)
    }
  </main>
</Layout>
