---
import { Navigation, Post } from '@components/blog';
import Layout from '@layouts/index.astro';
import { getCollection } from 'astro:content';

import QuickPostLayout from '@/layouts/quick-post.astro';

const posts = await getCollection('blog', ({ data }) =>
  data.tags.includes('type:quick-post')
);
---

<Layout title="Quick Posts" viewTransition={{ enabled: true }}>
  <main class="container py-10 space-y-8">
    {
      posts
        .sort((a, b) => {
          return (
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime()
          );
        })
        .map((post) => (
          <QuickPostLayout>
            <Post {...post} />
          </QuickPostLayout>
        ))
    }
    <div class="fixed bottom-10 left-1/2 -translate-x-1/2">
      <Navigation />
    </div>
  </main>
</Layout>
