---
import { ATSFriendly } from '@components/resume';
import Layout from '@layouts/index.astro';
import type { IResumeProps } from '@types';
import { experience, hero, info, skills } from '@utils/constants';
import {
  translateExperience,
  translateSkill,
  useTranslation,
} from '@utils/i18n';

const { t } = await useTranslation(Astro.currentLocale, 'home');

const resumeProps: IResumeProps = {
  ...info,
  name: {
    first: t('info-name-first', { context: 'formal' }),
    last: t('info-name-last', { context: 'formal' }),
    fullname: t('info-fullname', { context: 'formal' }),
  },
  profile: '/images/profile/1.png',
  dateOfBirth: new Date(info.dateOfBirth),
  jobPosition: t('info-job-position'),
  location: {
    city: t('info-location', { context: 'city' }),
    country: t('info-location', { context: 'country' }),
  },
  summaries: [
    t('home:hero-summaries.0'),
    t('home:hero-summaries.1'),
    t('home:hero-summaries.2'),
  ],
  tags: hero.tags.map((tag) => t(tag)),
  experience: experience.map((item) => translateExperience(t, item)),
  skills: skills.map((item) => translateSkill(t, item)),
};
---

<Layout title="Resume | Rainforest">
  <main
    class="w-screen h-screen flex-col-center p-10 bg-on-surface overflow-scroll
            print:justify-start print:items-start print:p-0 print:overflow-visible"
  >
    <div
      class="w-[1050px] h-[1485px] origin-top scale-30 sm:scale-50 md:scale-75 lg:scale-100
              print:scale-100 print:origin-top-left"
    >
      <ATSFriendly {...resumeProps} />
    </div>
  </main>
  <style media="print">
    @page {
      size: A4;
      margin: 0;
    }
  </style>
</Layout>
