---
import type { ComponentProps } from 'astro/types';
import clsx from 'clsx';
import BrandIcon from './brand-icon.astro';

interface Props extends ComponentProps<typeof BrandIcon> {
  tagClass?: string;
}

const { name, class: containerClass, tagClass, ...rest } = Astro.props;
---

<div
  class={clsx('flex-row-center gap-2 py-1 px-2 rounded-full', containerClass)}
>
  <BrandIcon {...rest} name={name} class={tagClass} />
  {name}
</div>
