/* tailwindcss */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@rainforest-dev/rainforest-ui/tailwindcss/md3";
@config './tailwindcss.config.js';

@theme {
  --font-family-serif: 'Lora', 'Material Symbols Outlined', serif;
  --font-family-sans: 'Material Symbols Outlined', sans-serif;
  --font-family-resume-serif: Georgia, 'Material Symbols Outlined', serif;

  --breakpoint-3xl: 112rem;
}

@layer base {
  html,
  body {
    @apply p-0 m-0 size-full font-serif bg-surface text-on-surface;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-row-center {
  @apply flex flex-row items-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center;
}

@utility container {
  @apply mx-auto px-8 sm:px-0;
}
