/* tailwindcss */
@import 'tailwindcss';
/* tailwindcss plugins */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@rainforest-dev/rainforest-ui/tailwindcss/md3";

@theme {
  --font-family-serif: 'Lora', 'Material Symbols Outlined', serif;
  --font-family-sans: 'Material Symbols Outlined', sans-serif;
  --font-family-resume-serif: Georgia, 'Material Symbols Outlined', serif;

  --breakpoint-3xl: 112rem;
}

@layer base {
  html,
  body {
    @apply p-0 m-0 size-full font-serif bg-surface text-on-surface;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-row-center {
  @apply flex items-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center;
}

@utility container-sm {
  @apply w-full max-w-[var(--breakpoint-sm)];
}

@utility container-md {
  @apply w-full max-w-[var(--breakpoint-md)];
}

@utility container-lg {
  @apply w-full max-w-[var(--breakpoint-lg)];
}

@utility container-xl {
  @apply w-full max-w-[var(--breakpoint-xl)];
}

@utility container-2xl {
  @apply w-full max-w-[var(--breakpoint-2xl)];
}

@utility container-3xl {
  @apply w-full max-w-[var(--breakpoint-3xl)];
}

@utility container {
  @apply sm:container-sm md:container-md lg:container-lg xl:container-xl 2xl:container-2xl min-[112rem]:container-3xl;
  @apply mx-auto;
  @apply px-4 sm:px-0;
}
