---
import type { ILink } from '@/types';
import { getBrandIconName, useTranslatedPath, useTranslation } from '@/utils';
import { links } from '@/utils/constants';

const { lang } = Astro.params;
const { t } = await useTranslation(lang);
const translatePath = useTranslatedPath(lang);

const transformLink = (link: ILink) => ({
  ...link,
  label: t(link.label),
  href: link?.i18n ? translatePath(link.href) : link.href,
  target: link?.external ? '_blank' : '',
  icon: getBrandIconName(link.icon ?? ''),
});

const sections = [
  {
    title: t('resources'),
    links: links.internal.map(transformLink),
  },
  {
    title: t('social-media'),
    links: links.external.map(transformLink),
  },
];
---

<script>
  import '@material/web/icon/icon.js';
</script>

{
  sections.map((section) => (
    <div class="flex flex-col gap-2">
      <h2 class="text-xl font-semibold">{section.title}</h2>
      <ul class="space-y-1">
        {section.links.map(({ label, icon, external, ...rest }) => (
          <li>
            <a {...rest} class="flex-row-center gap-1">
              <iconify-icon icon={icon} />
              {label}
              {external && <md-icon class="text-base">open_in_new</md-icon>}
            </a>
          </li>
        ))}
      </ul>
    </div>
  ))
}
